html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background: #e5e5e5;
  border-radius: 16px;
  width: 624px;
  padding: 32px;
  display: flex;
  align-items: flex-start;
  font-size: 16px;
}
.article {
}
.article__link {
  text-decoration: none;
  color: #e20613;
}

.article__paragraph {
  margin: 0px;
  line-height: 22px;
  font-size: 16px;
}

.header {
}

.header__name {
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 36px;
}

.header__paragraph {
  margin-top: 0px;
  margin-bottom: 24px;
  font-style: italic;
  font-size: 18px;
}

.header__picture {
  margin-right: 32px;
}
