html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
  );
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial;
  

}
.main {
  background: rgb(138, 141, 145, 0.5);
  border-radius: 16px;
  width: 624px;
  padding: 32px;
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow:0 0 15px black;
}


.article {
}
.article__link {
  text-decoration: none;
  color: #e20613;
  
}

.article__paragraph {
  margin: 0px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header {
}

.header__name {
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 36px;
}

.header__paragraph {
  margin-top: 0px;
  margin-bottom: 24px;
  font-style: italic;
  font-size: 18px;
  color: rgb(216, 215, 215);
}

.header__picture {
  margin-right: 32px;
  width: 148px;
  height: 148px;
  left: 420px;
  top: 299px;
  border-radius: 74px;
  box-shadow:0 0 6px black;

}

.picture{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px;
    
}
.picture:hover{
    transform: scale(1.2);
}